body
{
	 /*fondo*/
	color: black; /*letras*/
	font-family: 'Josefin Slab', serif;
	margin: 0 auto ;
	max-width: 1024px;
	text-align: justify;
}

header img 
{
	float: right;
	width: 115px;
}

body header
{
	border-radius: 10px;
	border: 2px solid #D5F9F9;
	margin-top: 0px;
	text-align: center;
}

header h1
{
	background: white;
	border-radius: 5px;
	border: 1px solid #D5F9F9;
	color: rgb(75,115,110);
	text-align: center;
}
header nav ul li
{
	background: rgb(80,115,110);
	border-radius: 5px;
	border: 2px solid #D5F9F9;
	box-shadow: -5px -5px 5px white;
	color: white;
	display: inline-block;
	margin: 10px 10px;
	padding: 5px 36px 5px 36px;
	text-align: center;
}
header nav ul li:hover /*para interactuar con el mouse*/
{
	background: white;
	color: rgb(80,115,110); 
}

/*Aqui van los id's*/
#seccion1
{
	border: 10px solid white;
}
#seccion1 article
{
	border: 10px solid black;
	display: inline-block;
	vertical-align: top;
	width: 47.7%;
}

.formato
{
	background: #11A7A6;
	border-radius: 30px;
	margin: 10px 300px 30px 300px;
	padding:10px 10px 30px 10px;
	
}