body
{
	background: rgb(58,114,108); /*fondo*/
	color: #D5F9F9; /*letras*/
	font-family: cursive;
	margin: 0 auto ;
	max-width: 1024px;
	text-align: justify;
	
}

header
{
	border: 2px solid #D5F9F9;
	border-radius: 10px;
	background: rgb(75,115,110)
	margin-top: 0px;
}

header h1
{
	background: rgb(80,115,110);
	text-align: center;
	border: 1px solid #D5F9F9;
	margin-top: 0px;
	border-radius: 5px
}
header nav ul li
{
	border: 2px solid #D5F9F9;
	border-radius: 5px;
	background: rgb(80,115,110);
	color: white;
	display: inline-block;
	margin: 0px 10px;
	padding: 5px 38px 5px 60px;
	text-align: center;
}
header nav ul li:hover
{
	background: white;
	color: rgb(80,115,110);
}
.formato
{
	background: #11A7A6;
	margin: 10px 300px 30px 300px;
	padding:10px 10px 30px 10px;
	border-radius: 30px;
	
}