body
{
	border: 1px;
	margin: 0 auto;
	max-width: 1024px;
}
header h1
{
	margin: 0px 0px 0px 15px;
}
header nav ul li
{
	display: inline-block;
	margin: 0px 10px 0px 0px;
	/*width: 89px;*/
}

#artAltasBajas
{
	display: none;
	margin: 0 auto;
	width: 350px;	
}