body 
{
	font-size: 16px;
	margin: 0 auto;
	max-width: 1024px;
}
body h1
{
 text-align: center;
}
body h1 input[type="text"]
{
	border: none;
	background: white;
	color:black;
	font-size: 1.1em;
	width: 30px;
}
form
{
	margin-top: 45px;
}
form table
{
	border-collapse: collapse;
	height: 600px;
	margin: 0 auto;
	text-align: center;
	width: 600px;
}
form input[type="button"]
{
	border: none;
	background: white;
	color: white;
	height: 199px;
	width: 199px;
}

#tr1, #tr2
{
	border-bottom: 5px solid red;
}

.bordederecha
{
	border-right: 5px solid red;
	margin:none;
}




